
  <div class="carousel-container">
      <div class="row">
          <div class="col">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <ng-container *ngFor="let image of images; let isActive = first;">
              <div class='carousel-item' [class.active]='isActive' data-interval="5000">
                  <img height="100%" [src]="image.downloadUrl"   [alt]="image.alt">
                  
              </div>
          </ng-container>
      </div>
  </div>
  </div>
  
  
  </div> <!-- end col -->
  </div> <!-- end row -->
  <!-- close container -->



