




<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Michael Murphy: Resume
    </mat-panel-title>
    <mat-panel-description>
      Click here to view my Resume
    </mat-panel-description>
  </mat-expansion-panel-header>

  <iframe class="doc" src="../../../assets/data/COCO.pdf"></iframe>

</mat-expansion-panel>



<div class="container">
 <h1 class="intro">Chirp, Chirp</h1>

  <div class="sqrBall">
   
    
    <p>Hello, hope your day is well.</p>
    <img  style="height: 250px;"  src="../../../assets/images/molang.gif" />






    
  </div>
</div>