

<div class="container">
      <div *ngFor="let profiles of profiles">
      <div class="card shadow-lg">
        <img class="prof-pic" [src]="profiles.downloadUrl">
        <p class="card-text">{{profiles.likes}}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  style="margin-left: 5px;" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg></p>
        <button  mat-raised-button color="primary" (click)='likeClick(profiles)'>like</button>
        <button  mat-raised-button color="primary"  (click)='dislikeClick(profiles)'>dislike</button>
        <div class="card-body">
        <h2>My Bio</h2>
          <p class="card-text">{{profiles.bio}}</p>
          <div class="d-flex justify-content-between align-items-center">
        
            <small class="text-muted">{{profiles.likes}}</small>
          </div>
        </div>
      </div>
      </div>
    </div>



