.carousel-image {
    margin-top: 35px;
    height: 350px;
    width: 450px;
    filter: drop-shadow(8px 4px 4px #000000);
    border: solid 2px black;
    border-radius: 15px;
    margin-right: 25px;
}
