
<tr  *ngFor="let fileUpload of fileUploads">
 
  
    <div class="container col-md-4">
      <div class="mb-4 box-shadow">
    
        <label for="enum_answer_{{fileUpload.url}}">
          <img [src]="fileUpload.url" class="carousel-image" [alt]="">
          <input id="enum_answer_{{fileUpload.url}}" [value]='fileUpload'  type="radio" hidden name="enums" >
        
        </label>
    
        <div class="card-body">
          
          <div class="d-flex justify-content-between align-items-center clearfix">
            <div class="btn-group">
              <button mat-mini-fab class="upload-btn" color="primary" (click)='openDialog(fileUpload)'><mat-icon>delete_forever</mat-icon></button>
            </div>
           
          </div>
        </div>
      </div>
    </div>


</tr>




<!-- 
  The Mat way .. hate the way it scales. 
<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile *ngFor="let fileUpload of fileUploads">
    <img class="carousel-image" [src]="fileUpload.url">
  <div class="btn-group">
              <button mat-mini-fab class="upload-btn" color="primary" (click)='openDialog(fileUpload)'><mat-icon>delete_forever</mat-icon></button>
            </div>
  </mat-grid-tile>
  
</mat-grid-list>
  -->

  