



    <div id="article{{article.id}}">
    
        <h2><i class="far fa-grin-stars" aria-hidden="true" ></i>{{article.title}}</h2>
    
        <div *ngIf='videoMode' id="media-1-vid">   
            <iframe width="95%" height="315" style="filter: drop-shadow(10px 10px 12px black);border:solid 1px white;" [src]='safeUrl' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            <button id='youBtn' (click)='switchMode()' type="button" class="btn btn-primary btn-xs btn-danger float-left">X
                    <i class="far fa-window-close"></i></button>
        </div>
    
        <div *ngIf='!videoMode' id="media-1" class="media">
            <img (click)='switchMode()' class="mr-3" src={{article.img}} alt={{article.imgAlt}}>
            <div class="media-body">
                <h5 class="mt-0">{{article.subtitle}}</h5>
  
         
            </div>
        </div>
    
    </div>
    