
<div class="container">
<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea #newHero  (keyup.enter)="addHero(newHero.value)"
  (blur)="addHero(newHero.value); newHero.value='' " [(ngModel)]="content" class="form-control" rows="2" id="comment"></textarea>
  <button class="depth"  mat-raised-button color="primary"  status="info" (click)="addHero(newHero.value)">send <span class="addedtext" style="font-size: .9em;">(or hit enter key)</span></button>



</div>
</div>
  



<mat-list>
  
  <div class="mssg-area">
  <div class="darkner">


<div class="container">
<div *ngFor="let post of posts | async" class="posts">
   
  <mat-list class="mssg">
    <mat-list-item *ngFor="let profilePic of profilePics">
      <img matListAvatar [src]="post.downloadUrl" alt="...">
      <h3 matLine> {{post.title}} </h3>
      <p matLine>
        <span>  </span>
        <span class="demo-2"> -- {{post.content}} </span>
      </p>
    </mat-list-item>
  </mat-list>
  </div>
</div>
</div>
</div>
