video {
    filter:drop-shadow(21px 2px 4px black);
    margin:25px;
}

button {
    background-color:  rgb(86, 0, 132);
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }

  .upload-btn{
    filter: drop-shadow(8px 4px 4px #000000);
    margin: 5px;
  }
