
 @import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');
 
 .nav-item .nav-link {
  color:white;
  font-family: 'Cormorant SC', serif;
  font-size: 1.7rem;
  filter:drop-shadow(4px 4px 10px black);
  margin: 10px;
 }

 .navbar {
  background-color: rgb(86, 0, 132);
  width: 80%;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  filter:drop-shadow(4px 4px 10px black);
 }

 .navbar-toggler {
 margin: 10px;
 border-radius: 35px;
  filter: invert(100%);
 }

 .iamName {
  margin:5px;
 } 

 .saysme {
  margin: 5px;
 }

 .dropdown-menu {
  color: white;
  background-color:rgb(86,0,132);
  :hover {
    background-color:rgb(35, 1, 54);
 }
}


 .dropdown-item {
  color:white;
 }

 a.dropdown-item :hover{
  background-color: red;
 }

