
  <nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" routerLink="main" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gallery
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="gallery" routerLinkActive="active">Gallery</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="carousel-lg" routerLinkActive="active">Carousel</a>
            <div class="dropdown-divider"></div>    
            <a class="dropdown-item" routerLink="profile" routerLinkActive="active">Create Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="view-profile" routerLinkActive="active">View Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="files" routerLinkActive="active">View files</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="video" routerLinkActive="active">View video</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mssg" routerLinkActive="active">Messages</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="guitar" routerLinkActive="active">Guitar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <app-file-upload></app-file-upload>
        </li>
      </ul>




<div class="mepic">
      <div class="nav-item">
        <div class="container">
          <div class="row">
            <div class="card transition">
              <h2 class="transition">Hello!</h2>
              <p class="card-text">..and a pic of me.</p>
              <div class="cta-container transition"><a routerLink="view-profile" class="cta">About</a></div>
              <div class="card_circle transition"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <p class="iamName" *ngIf="auth.user$ | async as user;">{{user.displayName}}</p>
      <div class="login">
          <span *ngIf="auth.user$ | async; then logout else login"></span>
        </div>
    </div>
  </nav>


  
  <ng-template #logout>
    <a class="nav-item nav-link" id="nav-login-link" (click)="auth.signOut()" *ngIf="auth.user$ | async as user;">
      <i class="fas fa-unlock"></i><p class="saysme" style="display: inline;">Logout</p>
    </a>
  </ng-template>
  
  <ng-template #login>
    <a class="nav-item nav-link" id="nav-login-link" (click)="auth.googleLogin()">
      <i class="fas fa-lock"></i><p class="saysme" style="display: inline;">Login</p>
    </a>
  </ng-template>



