<div class="container">

</div>
  <div class="row">
    <div class="col">
   

<form profile #profile="ngForm" (ngSubmit)="onSubmit(profile.value); profile.reset()">

<div class ="form-group">




  <input class="form-control" type="text"  fullWidth placeholder="First Name" #firstName="ngModel" [(ngModel)]="model.firstName" name="firstName" required minlength="3">

  <div [hidden]="firstName.valid || firstName.untouched"
        class="alert alert-danger">
         First Name is required
      </div>

  <input type="text" class="form-control" fullWidth placeholder="Last Name" #lastName="ngModel" [(ngModel)]="model.lastName" name="lastName" required minlength="3">

  <div [hidden]="lastName.valid || lastName.untouched"
  class="alert alert-danger">
       Last Name is required
</div>

<input type="text" class="form-control" fullWidth placeholder="Biography" #bio="ngModel" [(ngModel)]="model.bio" name="bio">
<div class="darkner">
<h1>Select a Photo</h1>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let image of images" class="example-item">
    
            <mat-radio-group [(ngModel)]="downloadUrl" name="downloadUrl">
                <mat-radio-button  [value]="image.downloadUrl">
                    <img style="height: 250px;"  [src]="image.downloadUrl" >
                </mat-radio-button>
            
              </mat-radio-group>
        
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
<button mat-raised-button color="primary" (click)="onSubmit(profile.value)" >save profile</button>

</div>




</form>


       



    </div>
    
  </div>