<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><app-carousel></app-carousel></div>
  
        <div class="col-lg-5">

            <div class="darkner"> 
        
            <h1 class="font-weight-light" *ngIf="auth.user$ | async as user;">Greetings, {{user.displayName}}!</h1>
                <p>Thanks for looking around my website. Its still in development, so expect some things not to work. This site uses google auth service, so just login with your google email. It can be tempermental the first time, so it can take a few tries. </p><img class="toon" src="../../../assets/images/anime.gif"></div>

   
          
        
    </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">In order to get the most out of this website, upload a photo using the clip. Once an image is uploaded, the website will respond.
          <app-file-upload></app-file-upload>
        </p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"><div class="col-4">
                      <img class="fire-b" src="../../../assets/images/techlabels/firebase2.png">
                    </div></h2>
                    
                    <p class="card-text">The backend for the app was done using firebase</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"> <div class="col-4">
                      <img class="ang" src="../../../assets/images/techlabels/angular.png">
                    </div></h2>
                   
                    <p class="card-text">This app was built using the Angular Framework</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"><div class="col-4">
                      <img class="node" src="../../../assets/images/techlabels/node.png">
                    </div></h2>
                    
                    <p class="card-text">What more needs to be said, if ya code ya know.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div  class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Michael Murphy 2022</p></div>
</footer>

